@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(135deg, #8052EC , #d161ff);
  transition: background-color 0.3s ease;
  color: #333;
  font-family: 'Orbitron', sans-serif;
}

.heading {
  font-size: 48px;
  color: black;
  text-align: center;
  animation: wave 2s linear infinite;
  backface-visibility: hidden; /* Prevent text blur */
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

body.dark-theme {
  background: #222;
  color: #fff;
}

body.dark-theme .heading {
  color: white;
}

p {
  font-weight: bold;
  font-size: 20px;
  color: black;
  animation: wave 2s linear infinite; /* Added wave animation */
  backface-visibility: hidden; /* Prevent text blur */
}

body.dark-theme p {
  color: #fff;
}

#gameboard {
  width: 300px;
  height: 300px;
  background-color: #444;
  display: flex;
  flex-wrap: wrap;
  border: solid 10px #fff;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  perspective: 800px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: dodgerblue;
  border: solid 2px white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  perspective: 800px;
}

.square:hover {
  transform: translateZ(50px);
}

.circle {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 15px solid #ffffff;
  box-sizing: border-box;
}

.cross {
  height: 90px;
  width: 90px;
  position: relative;
  transform: rotate(45deg);
}

.cross:before,
.cross:after {
  content: "";
  position: absolute;
  background-color: #feef09;
}

.cross:before {
  left: 50%;
  width: 30%;
  margin-left: -15%;
  height: 100%;
}

.cross::after {
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}

.cross::after {
  top: 50%;
  height: 30%;
  margin-top: -15%;
  width: 100%;
}

.toggle-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: white;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

body.dark-theme #gameboard {
  background-color: #333;
  border-color: #2196F3;
}

body.dark-theme .circle {
  border-color: blue;
}

body.dark-theme .cross:before,
body.dark-theme .cross:after {
  background-color: #e74c3c;
}


.restart-button {
  padding: 10px 20px;
  background-color: #2196F3;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  transition: color 0.3s ease, font-weight 0.3s ease;
  animation: wave 2s linear infinite; /* Added wave animation */
  backface-visibility: hidden; /* Prevent text blur */
}

.restart-button:hover {
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 599px) {
  body {
    font-size: 16px;
  }

  p {
    font-size: 20px;
  }

  .heading {
    font-size: 32px;
  }

  .restart-button {
    font-size: 14px;
    padding: 8px 16px;
  }

  #gameboard {
    width: 90vw;
    height: 90vw;
    max-width: 300px;
    max-height: 300px;
  }

  .square {
    width: 30vw;
    height: 30vw;
    max-width: 100px;
    max-height: 100px;
  }

  .circle {
    height: 27vw;
    width: 27vw;
    max-height: 90px;
    max-width: 90px;
    border-width: 5px;
  }

  .cross {
    height: 27vw;
    width: 27vw;
    max-height: 90px;
    max-width: 90px;
  }

  .restart-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media screen and (min-width: 600px) {
  body {
    font-size: 18px;
  }

  p {
    font-size: 25px;
  }

  .heading {
    font-size: 36px;
  }

  .restart-button {
    font-size: 16px;
    padding: 10px 20px;
  }

  #gameboard {
    width: 450px;
    height: 450px;
  }

  .square {
    width: 150px;
    height: 150px;
  }

  .circle {
    height: 135px;
    width: 135px;
    border-width: 15px;
  }

  .cross {
    height: 135px;
    width: 135px;
  }

  .restart-button {
    font-size: 16px;
    padding: 10px 20px;
  }
}
/* 
@media screen and (min-width: 960px) {
  body {
    font-size: 20px;
  }

  p {
    font-size: 28px;
  }

  .heading {
    font-size: 48px;
  }
  
  .restart-button {
    font-size: 18px;
    padding: 12px 24px;
  }

  #gameboard {
    width: 600px;
    height: 600px;
  }

  .square {
    width: 200px;
    height: 200px;
  }

  .circle {
    height: 180px;
    width: 180px;
    border-width: 30px;
  }

  .cross {
    height: 180px;
    width: 180px;
  }

  .restart-button {
    font-size: 18px;
    padding: 12px 24px;
  }
}
 */
